In [1]:
#impoting pandas library as it support all the dataset realted operations.
import pandas as pd

In [2]:
#saving the dataset inthe variable "data"
data=pd.read_csv("insurance_pre.csv")

In [3]:
#displaying dataset
data

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
#using get_dummies function to change categorical data to numerical 
data=pd.get_dummies(data,drop_first=True)

In [5]:
data

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [6]:
#displaying column names
data.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [7]:
#assigning input values to variable "independent" 
independent=data[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]

In [8]:
#assigning output values to variable "dependent"
dependent=data[['charges']]

In [9]:
#separating training and test data
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0)

In [10]:
#train model with training data(input & output)
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(x_train,y_train)

LinearRegression()

In [11]:
#with the model predicting for test input data
ypred=regressor.predict(x_test)

In [12]:
#using rscore comparing with predicted and actual output
from sklearn.metrics import r2_score
rscore=r2_score(y_test,ypred)
rscore

0.7894790349867009

In [ ]:
#since the rscore value is low, we didn't save the model